



.web-title{
    margin: 60px 20px 0px 15px;
}
.web-title .title{
    font-family: "Times","Times New Roman","游明朝体","游明朝","Yu Mincho","YuMincho",serif;
    font-size: 19px;
    color: #4a4a4a;
}
.web-title .titletext{
  /*font-family: "Times","Times New Roman","游ゴシック","游ゴシック体","Yu Gothic","YuGothic",serif;*/
  font-family: 'YakuHanJPs', 'Noto Sans JP', sans-serif;
    font-size: 12px;
    color: #4a4a4a;
    margin: 20px 0 60px 0;
    max-width: 350px;     /* 箱組みのために横幅制限 */
    line-height: 1.8;
    text-align: justify;
    white-space: pre-wrap;
}
.web-title a.title {
    color: #4a4a4a;
    text-decoration: none;
}



.credit-grid {
  margin: 20px 20px 100px 10px;
  color: #4a4a4a;
  font-size: 12px;
  line-height: 2.2;
}

.genre-block {
  margin: 10px 0 50px 0;
  border-top: 1px solid #7bbbef;
  padding-top: 20px;
}

.genre-name {
  font-family: "Times","Times New Roman","游明朝体","游明朝","Yu Mincho","YuMincho",serif;
  font-size: 17.5px;
  margin: 0 0 12px 7px;
}

.group-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px 0px;
  margin-bottom: 20px;
}

.group-name {
  font-size: 13px;
  margin: 0 0 0 7px;
}

.group-content {
  display: flex;
  flex-direction: column;
}

.staff-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 0px;
}

.staff-name {
  color: #4a4a4a;
  font-size: 12px;
}


.genre-block-double-border {
  border-top: none;
  padding-top: 0;
}
.genre-block-double-border::before {
  content: "";
  display: block;
  border-top: 1px solid #7bbbef;
  padding-top: 3.5px; /* 2本の罫線の間隔 */
  border-bottom: 1px solid #7bbbef;
  margin-bottom: 20px;
}



@media (hover: hover) {
.wide-return a:hover{
  text-decoration: underline;
  color: rgb(237, 45, 154);
  transition: 0.3s ease;
}
}





/* 600px〜819px: 1列・左右に余白 */
@media (min-width: 600px) {
    .content-wrapper {
    padding-left: 7%;
    padding-right: calc(40px + 7%);
    }

    .web-title{
    margin-left: 5px;
    }
    .web-title .titletext{
    font-size: 14px;
    max-width: 400px;     /* 箱組みのために横幅制限 */
    }

    .credit-grid {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    }
    .staff-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 0px;
    }
}

/* 820px〜1179px: 2列 */
@media (min-width: 820px) {
  .content-wrapper {
    padding-left: 5%;
    padding-right: calc(40px + 5%);
  }

  .web-title .title{
    font-size: 30px;
  }
  .web-title .titletext{
    max-width: 520px;     /* 箱組みのために横幅制限 */
  }

  .genre-name {
    font-size: 28px;
  }
  
}

/* 1180px〜: 3列・最大幅制限（ハッシュタグは左サイドバーに縦並び） */
@media (min-width: 1180px) {

  .credit-page-wrapper {
    gap: 60px;
    max-width: 1500px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  
  .content-wrapper {
    max-width: 1400px; /* 最大幅 */
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: border-box;
    margin: 0 auto;
    flex: 1;
    min-width: 0;
  }

}

